.clearfix
  = p.label :estado_civil, 'Estado Civil'
  .input
    = p.select :estado_civil, options_estado_civil

%fieldset
  %legend= 'Documentação'
  
  .clearfix
    = p.label :cpf, 'CPF'
    .input
      = p.text_field :cpf
      
  .clearfix
    = p.label :rg, 'RG'
    .input
      = p.text_field :rg
  
%fieldset
  %legend= 'Contato'
      
  .clearfix
    = p.label :endereco, 'Endereço'
    .input
      = p.text_field :endereco, :class => 'span9'
      
  .clearfix
    = p.label :bairro, 'Bairro'
    .input
      = p.text_field :bairro
      
  .clearfix
    = p.label :cep, 'CEP'
    .input
      = p.text_field :cep, :class => 'span2'
      
  .clearfix
    = p.label :cidade, 'Cidade'
    .input
      = p.text_field :cidade
      
  .clearfix
    = p.label :uf, 'Estado'
    .input
      = p.select :uf, options_uf, :include_blank => true
      
%fieldset
  %legend= 'Telefones'
      
  .clearfix
    = p.label :telefone_celular, 'Celular'
    .input
      = p.text_field :telefone_celular, :class => 'span2'
      
  .clearfix
    = p.label :telefone_casa, 'Residencial'
    .input
      = p.text_field :telefone_casa, :class => 'span2'
      
  .clearfix
    = p.label :telefone_trabalho, 'Trabalho'
    .input
      = p.text_field :telefone_trabalho, :class => 'span2'
      
%fieldset
  %legend= 'Contato de Urgência'
    
  .clearfix
    = p.label :contato_urgencia_nome, 'Nome'
    .input
      = p.text_field :contato_urgencia_nome, :class => 'span6'
      
  .clearfix
    = p.label :contato_urgencia_telefone, 'Telefone'
    .input
      = p.text_field :contato_urgencia_telefone, :class => 'span2'