- if person.estado_civil != ''
  %p
    %strong='Estado Civil: '
    = person.estado_civil

- if person.cpf != ''
  %p
    %strong='CPF: '
    = person.cpf
  
- if person.rg != ''
  %p
    %strong='RG: '
    = person.rg
    
- if person.endereco != ''
  %p
    %strong='Endereço: '
    = person.endereco
    
- if person.bairro != ''
  %p
    %strong='Bairro: '
    = person.bairro
    
- if person.cep != ''
  %p
    %strong='CEP: '
    = person.cep
    
- if person.cidade != ''
  %p
    %strong='Cidade: '
    = person.cidade

- if person.uf != ''
  %p
    %strong='Estado: '
    = person.uf
    
- if person.telefone_celular != ''
  %p
    %strong='Telefone Celular: '
    = person.telefone_celular
    
- if person.telefone_casa != ''
  %p
    %strong='Telefone Residencial: '
    = person.telefone_casa
    
- if person.telefone_trabalho != ''
  %p
    %strong='Telefone Trabalho: '
    = person.telefone_trabalho
    
- if person.contato_urgencia_nome != ''
  %p
    %strong='Nome Contato de Urgência: '
    = person.contato_urgencia_nome
    
- if person.contato_urgencia_telefone != ''
  %p
    %strong='Telefone Contato de Urgência: '
    = person.contato_urgencia_telefone